<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @note.content %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @note.rate %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @note.memo %>
</p>

<%= javascript_pack_tag 'rate' %>
<!-- <rate id="RateStar" data-target="type: <%= @note.class %>, id: <%= @note.id %>"></rate> -->
<rate id="RateStar" :myid="<%= @note.id %>"></rate>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
