<%= form_with(model: score, local: true) do |form| %>
  <% if score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value, id: :score_value %>
  </div>

  <div class="field">
    <%= form.label :memo %>
    <%= form.text_area :memo, id: :score_memo %>
  </div>

  <div class="field">
    <%= form.label :scorable_id %>
    <%= form.text_field :scorable_id, id: :score_scorable_id %>
  </div>

  <div class="field">
    <%= form.label :scorable_type %>
    <%= form.text_field :scorable_type, id: :score_scorable_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
