<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @score.value %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @score.memo %>
</p>

<p>
  <strong>Scorable:</strong>
  <%= @score.scorable_id %>
</p>

<p>
  <strong>Scorable:</strong>
  <%= @score.scorable_type %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
