<!DOCTYPE html>
<html>
  <head>
    <title>Rate</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://unpkg.com/axios/dist/axios.min.js' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
